body {
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:small;
	color:#000000;
	background-color:#EEEEEE;
	margin: 3px;
	padding:5px;
	text-align: center;
}
h1 { 
	font-size:x-large;
	color: #003399;
	font-weight: bold; 
}
h2 { 
	font-size:large;
	color: #003399;
	font-weight: bold; 
}
h3 {
	color:#003399;
	padding: 3px;
	margin: 0px;
}
pre {
	text-align:left;
}
img {
	border: 0px;
}
form {
	padding: 0px;
	margin: 0px;
}

a {
	color:#003399;
	text-decoration:none;
}
a:hover {
	color:orange;
}

.menu {}
.menu .submenu {
	background: #FFF; 
	border: 1px solid #000050;
	margin-top: 30px;
	padding: 6px 2px;
}
.commonmenu {
	text-align: left;
	margin-top: 40px;
	background: #FFF; 
	border: 1px solid #000050;
}
.menu select {
	font-size:x-small;
	font-family:Arial;
}


.actionResult {
	font-size:medium;
}


.inputForm {
	border: 2px solid #AAB;
	padding: 0px;
	margin: 15px 10%;
	text-align: left;
}
.inputForm input {
	border: 1px solid #AAA;
	background-color: #DDE;
	padding: 2px 6px;
}
.inputForm select {
	border: 1px solid #AAA;
	background-color: #EEE;
}
.inputForm .even {
	padding: 6px;
	border-bottom: 1px solid #AAA;
	background-color: #DDD;
}
.inputForm .odd {
	padding: 6px;
	border-bottom: 1px solid #AAA;
	background-color: #EEE;
}
.inputForm .label {
	margin-left: 10px;
	text-align:right;
	width:15%;
	float:left;
	padding:0.2em;
	margin:0;
	margin-top:0.2em;
}
.inputForm .required {
	color: #F00;
	font-weight: bold;
}
.inputForm .buttons {
	border-top: 2px solid #448;
	border-bottom: 2px solid #448;
	text-align: center;
	padding: 6px;
	background-color: #BBB;
}
.information {
	margin: 10px 10%;
	text-align: left;
}

.debug {
	border: 3px solid green;
}

