body {
	font-family:Arial, Helvetica, sans-serif;
	/*font-size:small;*/
	/*color:#333;*/
	background-color:white;
	/*padding:5px;  
	margin-left:20px;
	margin-right:20px;*/
}
h1   {
	font-size:xx-large;
	color: #003399;
	font-weight: 800;
	text-align: center;
	margin:0;
}
h2   { 
	font-size:x-large;
	color:  #003399;
	letter-spacing:1px;
	background: #AAA;
	font-weight: normal; 
	padding: 2px 0px 1px 15px;
	text-align: left; 
	border: 1px solid #558;
}
h3   { 
	font-size:large;
	color: #FFFFFF; 
	background: #666666;
	font-weight: normal; 
	text-align: left; 
	padding-bottom: 1px;
	padding-top: 3px;
	padding-left: 25px;
}
a {
	color:#003399;
	text-decoration:none;
	font-weight:600;
}
a:hover {
	color:orange;
}
img {
	border-width:0px;
}
#banner {
	width:820px;
        text-align: center;
	background-color:#003399;
	border: 1px solid #005
}

#banner a {
	margin: 2px 3%;
        vertical-align: super;
	font-size:large;
	color:white;
}
#content {
	width: 790px;
	float:left;
/*	border-width:1px;
	border-style:solid;*/
	margin:0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color:#FFF;
}
#footer {
        text-align: center;
	font-size:small;
	padding:0px;
}
